.App {
  margin: 10px;
}

.App th {
  padding: 3px;
}

.App td {
  text-align: center;
  cursor: pointer;
}

.App tr:hover::after {
  content: attr(data-description);
  position: absolute;
}

.table__item td {
  cursor: default;
}

.green {
  color: green;
}

.red {
  color: red;
}

.loader {
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px dashed #4b51ef;
  animation: rotate 1.7s infinite linear;
  animation-direction: alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(0.1);
  }
  to {
    transform: rotate(720deg) scale(1.2);
  }
}
