.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App th {
  padding: 3px;
}

.App td {
  cursor: pointer;
}

.App tbody tr:hover {
  background-color: rgba(172, 172, 172, 0.377);
}

.tooltip {
  position: absolute;
  padding: 2px 5px 2px 5px;
  border: 1px solid black;
  background-color: white;
}

.table__tr-button:hover {
  background-color: transparent !important;
}

.table__item td {
  cursor: default;
}

.green {
  color: green;
}

.red {
  color: red;
}

.loader {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px dashed #4b51ef;
  animation: rotate 1.7s infinite linear;
  animation-direction: alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(0.1);
  }
  to {
    transform: rotate(720deg) scale(1.2);
  }
}
